<!DOCTYPE html>
<html lang="en">
<body>
<a href="bellmusic">Reauthorize</a>
<a href="play">Play</a>
<a href="pause">Pause</a>
<h2>Logged in as <%= display_name %></h2>
<h3>Playing status: <%= is_playing ? "Playing" : "Stopped" %> on <%= device_name %></h3>

</body>
</html>
