<!DOCTYPE html>
<html lang="en">
<body>
<a href="login">Reauthorize</a>
<a href="playback_state">Initialize</a>
<h2>Logged in as <%= display_name %></h2>
<h3>Playing status: <%= is_playing ? "Playing" : "Stopped" %> on <%= device_name %></h3>

</body>
</html>
